<% provide(:title, 'About Us') %> <h1>About Us</h1>
<p>
	Do you read a lot of news and articles? Are you starting to lose the track of the interesting stuff? There are lot of services, 
	like RSS, or social networks, like Twitter. However, if you just want to read the news, in RSS is all the sorting on you and you are losing time sorting articles instead of reading them. 
	People on social networks do this for you, but there is lot of other stuff, that are not important if you just want to read the news.Therefore we decided to create simple application, 
	which is here for all the people who want to read news and share them with the world.
</p>