<% provide(:title, 'Help') %> <h1>FAQ</h1>
<p>
	<h2>
		Do I have to register to read the news?
	</h2>
	<div>
		No. You can read the news without registration. To personalise them however, you have to sign up.
	</div>
	<h2>
		What should I do, if I forgot my password?
	</h2>
	<div>
		Automatic password recovery is not yet implemented, so in this case, please contact us via Contact page.
	</div>
	<h2>
		How can I add new artice?
	</h2>
	<div>
		When you're logged, simply enter the URL (web address) of the article in the field and ch2ck on post.
	</div>

</p>