<div class="btn-group">
	<%= @categories.collect do |category| %>

	<% if category.name == session[:category] %>
	<button class="btn btn-inverse" type="submit" onClick="window.location.reload()">
		<%= category.name %>
	</button>
	<% else %>
	<button class="btn" type="submit" onClick="window.location.reload()">
		<%= category.name %>
	</button>
	<% end %>
	<% end %>
</div>

<script type="text/javascript">
	$('.btn').on('click', function(e) {
		$.post("/set_category", {
			name : $(this).text()
		})
	}); 
</script>