<div class="btn-group">
	<%= form_tag do %>
	<%= @categories.collect do |category| %>

	<button class="btn" type="submit">
		<%= category.name %>
	</button>
	<% end%>
	<% end %>
</div>

<script type="text/javascript">
	$('.btn').on('click', function(e) {
		$.post("/chooseCategory", {
			name : $(this).text()
		})
	}); 
</script>